body {
    font-family: 'Arial', sans-serif;    
    color: #333;
    padding: 50px;
    max-width: 1400px;
    margin: 0 auto;
}

section {
    padding: 40px;
}

h2 {
    font-size: 44px;
    text-align: center;
    margin-top: 30px;
}

h1 {
    font-size: 60px;
}